body {
    background-color: #fefefe;
}

.clearfix {
    clear:both;
}

small.description {
    display:block;
    margin-top: -1rem;
    padding: 0.8em 0 1.2em;
    font-family: "ff-tisa-web-pro", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: -0.03em;
    color: #707070;
    margin-left: 0.1rem;
    line-height: 1.2em;
}

small.error {
    margin-top: -0.5rem;
    display:block;
    clear:both;
    background: none;
    font-style: normal;
    font-family: "ff-tisa-web-pro", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 0;
}

textarea {
    height: 200px;
}

input[type="text"],
textarea,
input[type="password"] {
    background: #eee;
    max-width: 600px;
    border:none;
    box-shadow: none;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus {
    background: #e3e3e3;
    max-width: 600px;
    box-shadow: none;
}

.alert-box {
    margin-top: 1rem;
}

header.content_wrapper {
    margin-top: 15px;
}

#site_title {
    font-size: 3rem;
    font-family: "franklin-gothic-urw", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: 100;
    letter-spacing: -0.04em
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    font-family: "franklin-gothic-urw", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    letter-spacing: -0.04em
}

p {
    font-family: "ff-tisa-web-pro", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    letter-spacing: -0.04em
}

.page_help {
    margin-top: 2rem;
}

div.conversation_id {
    font-size: 0.8rem;
}

span.author {
    font-size: 0.7rem;
    color: #aaa;
    display: block;
}

div.officer_message{
    border: 1px solid #EEE;
    background-color: #FFF
}

.center {
    text-align: center;
}

.top-bar-section ul li.active > a {
    background: none repeat scroll 0 0 #008CBA !important;
    color: #FFFFFF;
}

select#id_recipients {
    min-height: 50px;
}

.content_wrapper {
    max-width: 800px;
    padding: 0 1rem;
}

a.button, button, input[type="submit"] {
    background-color: #94ceff;
    font-family: "franklin-gothic-urw", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    height: 30px;
    color: #000 !important;
    padding: 0.5rem 2rem 1.7rem;
    font-weight: 900;
    border:none;
}

a.button:hover, button:hover, input[type="submit"]:hover {
    background-color: #dbdcdc;
    color: #000 !important;
    text-decoration: none;
}

a.login {
    margin-top: 5px;
}

a.logout {
    background-color: #ffb5ba;
}

a, a:link, a:visited {
    color: #0083fe;
}

a:hover {
    text-decoration: underline;
}

#message_form label {
    font-size: 2rem;
    font-family: "franklin-gothic-urw", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #222;
    letter-spacing: -0.03em
}

.field_wrapper {
    margin-top: 3rem;
}

#id_recipients label, #message_form label.small {
    font-family: "ff-tisa-web-pro", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

#id_recipients label {
    cursor: pointer;
}

ul#id_recipients {
    list-style-type: none;
}

ul#id_recipients li {
    float: left;
    margin-right: 2rem;
    background-color: #eeeeee;
    padding: 0.3rem 1rem 0.1rem;
    cursor: pointer;
}

ul#id_recipients li.checked {
    background-color: #ddd;
}

.field_wrapper ul {
    margin: 0;
}

.field_wrapper .columns {
    padding-left: 0;
}

.send_message p {
    text-align: center;
}

.send_message p .description {
    font-size: 0.8rem;
}

.send_message button {
    background-color: #8dd77e;
    padding: 1rem 3rem 2.4rem;
    margin: 1rem 0 0 ;
    font-size: 1.2rem;
}

input[type="submit"] {
    background-color: #8dd77e;
    padding: 0.5rem 3rem 2rem;
    margin: 1rem 0 0 ;
    font-size: 1.2rem;
    font-weight: normal;
}

footer.content_wrapper {
    background-color: #eee;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
footer a {
    color: #222 !important;
    font-size: 0.9rem;
    letter-spacing: -0.03em;
    display: inline-block;
    margin: 0 1rem;
    line-height: 2rem;
}

div.small_form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    cursor: default;
}