small.description {
    display:block;
    margin-top: -1rem;
    padding: 0.8em 0 1.2em;
}

small.error {
  margin-top: -1rem;
    display:block;
}

textarea {
    height: 200px;
}
.alert-box {
    margin-top: 1rem;
}

h1, h2 {
    margin-top: 1rem;
}

.page_help {
    margin-top: 2rem;
}

div.conversation_id {
    font-size: 0.8rem;
}

span.author {
    font-size: 0.7rem;
    color: #aaa;
    display: block;
}

div.officer_message{
    border: 1px solid #EEE;
    background-color: #FFF
}

.center {
    text-align: center;
} 