small.description {
    display:block;
    margin-top: -1rem;
    padding: 0.8em 0 1.2em;
}

small.error {
  margin-top: -1rem;
    display:block;
}

textarea {
    height: 200px;
}
.alert-box {
    margin-top: 1rem;
}

header.content_wrapper {
    margin-top: 15px;
}

#site_title {
    font-size: 3rem;
    font-family: "franklin-gothic-urw", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    font-family: "ff-tisa-web-pro", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

p {
    font-family: "ff-tisa-web-pro", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.page_help {
    margin-top: 2rem;
}

div.conversation_id {
    font-size: 0.8rem;
}

span.author {
    font-size: 0.7rem;
    color: #aaa;
    display: block;
}

div.officer_message{
    border: 1px solid #EEE;
    background-color: #FFF
}

.center {
    text-align: center;
}

.top-bar-section ul li.active > a {
    background: none repeat scroll 0 0 #008CBA !important;
    color: #FFFFFF;
}

select#id_recipients {
    min-height: 50px;
}

.content_wrapper {
    width: 800px;
}

.button {
    background-color: #94ceff;
    font-family: "franklin-gothic-urw", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    height: 30px;
    color: #000;
    padding: 0.5rem 2rem 1.7rem;
    font-weight: 900;
}

.button:hover {
    background-color: #dbdcdc;
    color: #000;
}