{% extends 'foundation/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/defero.css"/>
{% endblock %}
{% block title %}{% block page_title %}{{ title }}{% endblock %} | Messenger{% endblock %}


{% block base_body %}
    <div id="body_wrapper">
        {% if success_message %}
            <div data-alert class="alert-box success radius">
                {{ success_message }}
                <a href="#" class="close">&times;</a>
            </div>
        {% endif %}
        {% autoescape off %}
            {% block content %}
                {{ content }}
            {% endblock %}
        {% endautoescape %}
    </div>
{% endblock %}
