{% extends 'base.html' %}

{% block page_title %}Frequently Asked Questions{% endblock %}

{% block content %}

    <a class="back_link" href="/">« Back to home</a>

    <h1>Frequently Asked Questions</h1>
    <p>Messenger was created as a result of the feedback gathered by the college leadership team by residents.</p>

    <h2>What is it for?</h2>
    <p>The aim of Messenger is to allow anyone to communicate with an officer anonymously. Examples of why this might
        be needed:
    </p>
    <ul>
        <li>There is an embarrassing problem and advice is needed</li>
        <li>Reporting potential assaults in college, where the person in question may be friend or family.</li>
        <li>An issue involving an officer or staff in college</li>
    </ul>
    <p>Messenger can facilitate anonymous conversations with an officer, which improves on a simple one-way report.</p>

    <h2>How does it work?</h2>
    <p>Anyone can send an anonymous message and choose who to send it to.</p>
    <p>If they choose to, they can enter a password so they can continue the 'conversation' with the officer(s) online.
        This process simply assigns a random user id number to the user, which they can use to log in and check for new
        messages.</p>
    <p>Officers will check their messages regularly and reply to them as soon as they can.</p>

    <h2>How secure is this?</h2>
    <p>Messages are not stored on your computer and are not associated with any personally identifiable information.
        Messenger strives to be truly anonymous and there is no way, short of identifying yourself in the message, for the
        officer to identify the author.</p>
    <p>The website also uses secure technology such as HTTPS encryption and not caching data to ensure that malicious
        people cannot eavesdrop on your connection to the website.</p>

    <h2>Who made this?</h2>
    <p>A former resident of Burgmann College, Wayne Tsai. You can view the open-source code for the website here:
        <a href="https://github.com/watbe/defero">Github</a>. He is also the person you should email if there are any
        problems using this website.</p>

    <a class="back_link" href="/">« Back to home</a>

{% endblock %}