{% extends 'base.html' %}

{% block page_title %}Send a message{% endblock %}

{% block description %}
Messenger is a website that helps facilitate the anonymous reporting of sexual harassment and assault that may have
occurred. It provides anonymous two-way communication if needed.
{% endblock %}

{% block content %}

    {{ content }}

    <h2>Write an Anonymous Message</h2>
    <p><strong>All messages are anonymous</strong> regardless of whether you are logged in or not.
        You may choose to identify yourself in the message text if you wish to.</p>

    <div id="message_form">
        {% if message_form.non_field_errors %}
            <div data-alert class="alert-box warning radius">
                {% for error in message_form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                <a href="#" class="close">&times;</a>
            </div>
        {% endif %}
        {# We ensure that autocomplete is forced off to prevent browsers from saving messages #}
        <form action="/messages/new" method="post" autocomplete="off">{% csrf_token %}


            <div class="field_wrapper">
                <label for="id_content">Message:</label>
                {{ message_form.content }}
                {% if message_form.content.errors %}
                    {% for error in message_form.content.errors %}
                        <small class="error">{{ error|escape }}</small>
                    {% endfor %}
                {% endif %}
                {% if message_form.content.help_text %}
                    <small class="description">{{ message_form.content.help_text }}</small>
                {% endif %}
            </div>

            <div class="field_wrapper">
                <label for="id_recipients">Recipients:</label>
                {{ message_form.recipients }}
                {% if message_form.recipients.errors %}
                    {% for error in message_form.recipients.errors %}
                        <small class="error">{{ error|escape }}</small>
                    {% endfor %}
                {% endif %}
                {% if message_form.recipients.help_text %}
                    <small class="description">{{ message_form.recipients.help_text }}</small>
                {% endif %}
            </div>

            {% if not user.is_authenticated %}
                <fieldset>
                    <legend>Create an account</legend>
                    <p>If you would like to see replies and continue communicating with the officer, enter a password
                    that only you know below. A random user id will be created for you which you can use to access any
                    replies and send further messages. <strong>This is optional.</strong></p>
                    <div class="field_wrapper">
                        <label for="id_content">Password:</label>
                        {{ message_form.password }}
                        {% if message_form.password.errors %}
                            {% for error in message_form.password.errors %}
                                <small class="error">{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                        {% if message_form.password.help_text %}
                            <small class="description">{{ message_form.password.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="field_wrapper">
                        <label for="id_content">Password confirmation:</label>
                        {{ message_form.password_again }}
                        {% if message_form.password_again.errors %}
                            {% for error in message_form.password_again.errors %}
                                <small class="error">{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                        {% if message_form.password_again.help_text %}
                            <small class="description">{{ message_form.password_again.help_text }}</small>
                        {% endif %}
                    </div>
                </fieldset>
            {% else %}
                <p><strong>Please note that you are currently logged in.</strong> This message will be automatically
                added to the list of conversations you can access. If you wish to dissociate your user account with
                this message, please <a href="/logout">log out</a> first.</p>
            {% endif %}

            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}