{% extends 'base.html' %}

{% block page_title %}Send a message{% endblock %}

{% block description %}
Messenger is a website that helps facilitate the anonymous reporting of sexual harassment and assault that may have
occurred. It provides anonymous two-way communication if needed.
{% endblock %}

{% block content %}

    {{ content }}

    <p>Messenger is a website to help you communicate <strong>anonymously</strong> with a Burgmann Officer.
       <br/> Read about <a href="#">what it is</a> and <a href="#">frequently asked questions</a>.</p>

    <div id="message_form">
        {% if message_form.non_field_errors %}
            <div data-alert class="alert-box warning radius">
                {% for error in message_form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                <a href="#" class="close">&times;</a>
            </div>
        {% endif %}
        {# We ensure that autocomplete is forced off to prevent browsers from saving messages #}
        <form action="/messages/new" method="post" autocomplete="off">{% csrf_token %}

            <div class="field_wrapper">

                <label for="id_content">Begin with a message</label>
                {% if message_form.content.help_text %}
                    <small class="description">{{ message_form.content.help_text }}</small>
                {% endif %}

                {{ message_form.content }}

                {% if message_form.content.errors %}
                    {% for error in message_form.content.errors %}
                        <small class="error">{{ error|escape }}</small>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="field_wrapper">

                <label for="id_recipients">Choose the recipients of this message</label>
                {% if message_form.recipients.help_text %}
                    <small class="description">{{ message_form.recipients.help_text }}</small>
                {% endif %}

                {{ message_form.recipients }}

                <div class="clearfix"></div>

                {% if message_form.recipients.errors %}
                    {% for error in message_form.recipients.errors %}
                        <small class="error">{{ error|escape }}</small>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="field_wrapper">
                {% if not user.is_authenticated %}
                            <label>Do you want to be able to view and send replies?</label>
                            {% if message_form.password.help_text %}
                                <small class="description">{{ message_form.password.help_text }}</small>
                            {% endif %}
                            <div class="medium-4 columns">
                                <label for="id_content" class="small">Password</label>
                                {{ message_form.password }}

                                {% if message_form.password.errors %}
                                    {% for error in message_form.password.errors %}
                                        <small class="error">{{ error|escape }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="medium-4 columns">
                                <label for="id_content" class="small">Password again</label>
                                {{ message_form.password_again }}

                                {% if message_form.password_again.errors %}
                                    {% for error in message_form.password_again.errors %}
                                        <small class="error">{{ error|escape }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                {% else %}
                    <label>You will be able to view and send replies</label>
                    <p><strong>You are currently logged in as user: {{ user.username }}.</strong> This message will be automatically
                        added to the list of conversations you can access so you do not have to create a new account.
                    </p>
                    <p>Your message will still be completely anonymous, however, you may choose to <a href="/logout">log out</a> and
                    create a new account.</p>
                {% endif %}
            </div>

            <div class="field_wrapper send_message">
                <label>Review and send</label>
                    <small class="description">Be sure to double-check your message and who you are sending it to.</small>
                <p>
                    <button type="submit">Send message</button>
                </p>
                <p>
                    <small class="description">By clicking this button,
                        you agree to the <a href="#">privacy policy</a> for this service.</small>
                </p>
            </div>

        </form>
    </div>

{% endblock %}