{% extends 'base.html' %}

{% block page_title %}Send a message{% endblock %}

{% block content %}

    {{ content }}

    <h1>Write a Message</h1>
    <p>Write a message below. If you wish to read replies, you will need to register a username and password after
    you send this message.</p>

    <div id="login">

        {% if message_form.non_field_errors %}
            <ul class='form-errors'>
                {% for error in message_form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {# We ensure that autocomplete is forced off to prevent browsers from saving messages #}
        <form action="/user/login" method="post" autocomplete="off">{% csrf_token %}
            {% for field in message_form %}
                <div class="input {{ field.field.widget.attrs.class }}">
                    {{ field.label_tag }} {{ field }}
                    {% if field.errors %}
                        <ul class="form-errors">
                            {% for error in field.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" class="input" value="Send Message"/>
        </form>
    </div>

    <h1>Login</h1>
    <p>Please log in using your username and password to view your messages.</p>

    <div id="login">

        {% if login_form.non_field_errors %}
            <ul class='form-errors'>
                {% for error in login_form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {# We ensure that autocomplete is forced off to prevent browsers from saving passwords and usernames #}
        <form action="/user/login" method="post" autocomplete="off">{% csrf_token %}
            {% for field in login_form %}
                <div class="input {{ field.field.widget.attrs.class }}">
                    {{ field.label_tag }} {{ field }}
                    {% if field.errors %}
                        <ul class="form-errors">
                            {% for error in field.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" class="input" value="Login"/>
        </form>
    </div>

{% endblock %}