{% extends 'base.html' %}

{% block page_title %}Your conversations{% endblock %}

{% block description %}
    This is a list of conversations that you can access. Click on a conversation to view it and create replies.
{% endblock %}

{% block content %}

    <h2>Conversations</h2>
    {% if conversation_list %}
        <p>You are part of the following conversations:</p>


        <table>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Conversation ID</th>
                    <th>Recipients</th>
                </tr>
            </thead>
            <tbody>
                {% for conversation in conversation_list %}
                    <tr>
                        <td>
                            {% if conversation.subject %}
                                {{ conversation.subject }}
                            {% else %}
                                No subject
                            {% endif %}
                        </td>
                        <td>
                            <a href="/messages/{{ conversation.uuid }}/">{{ conversation.uuid }}</a>
                        </td>
                        <td>
                            {{ conversation.recipients.count }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% endblock %}