{% extends 'base.html' %}

{% block page_title %}Your conversations{% endblock %}

{% block description %}
    This is a list of conversations that you can access. Click on a conversation to view it and create replies.
{% endblock %}

{% block content %}

    <h2>Conversations</h2>
    {% if conversation_list %}
        <p>You are part of the following conversations:</p>


        <table>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Conversation ID</th>
                    <th>Replies</th>
                    <th>Participants</th>
                    <th>Date/time created</th>
                    <th>Last reply</th>
                </tr>
            </thead>
            <tbody>
                {% for conversation in conversation_list reversed %}
                    <tr>
                        <td>
                            {% if conversation.subject %}
                                {{ conversation.subject }}
                            {% else %}
                                No subject
                            {% endif %}
                        </td>
                        <td>
                            <a href="/messages/{{ conversation.uuid }}/">{{ conversation.uuid }}</a>
                        </td>
                        <td class="center">
                            {{ conversation.messages.count }}
                        </td>
                        <td class="center">
                            {{ conversation.recipients.count }}
                        </td>
                        <td>
                            {{ conversation.messages.all.0.time_posted }}
                        </td>
                        <td>
{#                            {% with conversation.messages.all|last as end %}#}
{#                                {{ end.time_posted }}#}
{#                            {% endwith %}#}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% endblock %}