{% extends 'base.html' %}

{% block page_title %}Privacy, Security and Terms of Service{% endblock %}

{% block content %}

    <a class="back_link" href="/">« Back to home</a>

    <h1>Privacy Policy</h1>
    <p>By using this website, you agree that you have read and agree to the following policy.</p>

    <h2>Use of cookies</h2>
    <p>This website uses <em>cookies</em>, a common form of storing information in a browser. We use cookies
        in order to ensure that the form is being submitted by the correct user, anonymous or not. A randomly
        generated ID number is stored in the cookie. The cookie does not contain any personal information.</p>

    <h2>Access of service</h2>
    <p>By using this service, you understand that your IP address may be recorded by the server or any intermediate
    access points, such as network routers (i.e., university wide routers). However, this website only allows access
    via an encrypted connection (HTTPS), so no data or content can be viewed by intermediate access points.</p>
    <p>It is your responsibility to ensure that your browser verifies the encrypted connection before using this
        service. This is usually indicated by a lock symbol by the address bar.</p>
    <p>You agree that using this service may result in someone identifying that you use this service, however your
    content is transferred securely.</p>

    <h2>Records</h2>
    <p>When you look at this web site our server makes a record of your visit and logs the following information:</p>

    <p>
        <ul>
            <li>your browser’s internet address;</li>
            <li>the date and time of your visit to the site;</li>
            <li>the pages you accessed and documents downloaded;</li>
            <li>the previous site visited;</li>
            <li>the type of browser you are using; and</li>
            <li>the username entered if accessing a restricted site.</li>
        </ul>
    </p>

    <p>
        We use this information for statistical purposes and for system administration tasks to maintain this service.
        We do not attempt to identify individuals of our regular business practices however in the unlikely event of an
        investigation, a law enforcement agency or other government agency may exercise its legal
        authority to inspect our server’s logs.
    </p>

    <p>
        If at any stage you provide us with your email address either as part of a message or by completing a web form,
        we will only use your email address for the purposes for which it was provided. We will not subscribe your
        email address to any mailing list without your consent.
    </p>

    <h1>Security Policy and Terms of Use</h1>

    <h2>Storage and access of data</h2>
    <p>Your message is stored behind a firewalled server and can only be accessed by an encrypted connection.</p>
    <p>All messages are not associated with any personal information.</p>
    <p>You agree that it is possible for the website/server administrator to access your anonymous message.</p>
    <p>You agree that the designated recipients of your message will have access in perpetuity to your anonymous message.</p>
    <p>Due to the anonymous nature of this website, it is not possible to delete messages as we cannot identify who
    authors the messages.</p>

    <h2>Legal</h2>
    <p>The website owner accepts no liability or responsibility for any loss or damage whatsover suffered as a result
        of direct or indirect use or application of any material, publication or information made accessible via its
        web site.</p>
    <p>External sites that are linked to or from the this site are generally not under our control or
        responsibility and you are advised to review their privacy statement.</p>

    <a class="back_link" href="/">« Back to home</a>

{% endblock %}